.accordion {
  width: 100%;
  /* border: solid 1px; */
  max-width: 580px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accordion-header {
  width: 100%;
  padding: 15px;
  text-align: left;
  background: #ee5138;
  border: none;
  font-size: 20px;
  font-weight: 500;
  /* font-family: "Poppin"; */
  cursor: pointer;
  transition: background 0.3s;
  color: white;
}

.accordion-header i {
  margin-right: 10px;
}

.accordion-header:hover {
  background: #e7e7e7;
  color: #ee5138;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background: #fff;
  transition: max-height 0.3s ease;
  /* padding: 10px 10px 10px 30px; */
}

.accordion-content ul li img {
  width: 18px;
  margin-bottom: -2px;
  margin-right: 2px;
}

.accordion-content ul li {
  margin-bottom: 7px;
}

.accordion-content ul {
  list-style: none;
}

/* ----------------------Carousal------------------------------- */
.custom-carousel {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  background: #eae8e8;
  padding: 40px 20px; /* ONLY FOR OUTER BG */
  border-radius: 25px;
}

.carousel-inner {
  overflow: hidden; /* <<< IMPORTANT */
  border-radius: 25px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 25px;
}

.bottom-arrows {
  text-align: center;
  margin-top: 20px;
}

.arrow-btn {
  font-size: 34px;
  margin: 0 20px;
  cursor: pointer;
  color: #1a2c45;
}
