.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ee5138;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ee5138;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ee5138;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ee5138;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.button2 {
  --main-focus2: #2d8cf0;
  --font-color2: #323232;
  --bg-color-sub2: #dedede;
  --bg-color2: #eee;
  --main-color2: #323232;
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color2);
  box-shadow: 4px 4px var(--main-color2);
  background-color: var(--bg-color2);
  border-radius: 10px;
  overflow: hidden;
}

.button2,
.button2 .button__icon,
.button2 .button__text {
  transition: all 0.3s;
}

.button2 .button__text {
  transform: translateX(10px);
  color: var(--font-color2);
  font-weight: 600;
}

.button2 .button__icon {
  position: absolute;
  transform: translateX(150px);
  height: 100%;
  width: 40px;
  background-color: var(--bg-color-sub2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button2 .svg {
  width: 20px;
  fill: var(--main-color2);
}

.button2:hover {
  background: var(--bg-color2);
}

.button2:hover .button__text {
  color: transparent;
}

.button2:hover .button__icon {
  width: 200px;
  transform: translateX(-10px);
}

.button2:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color2);
}

.button3 {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #bf0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.button3::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  /* background: transparent; */
  border-radius: 0 0 0.5em 0;
  border-radius: 5px;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.button3:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.button3:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.button4 {
  position: relative;
  padding: 13px 35px;
  background: #6d7973;
  font-size: 17px;
  font-weight: 900;
  color: #ffffff;
  border: 2px solid #6d7973;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.button4::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 45px;
  border: 3px solid #6d7973;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.button4:hover::after {
  animation: radar_45011 1s ease infinite 0.3s;
}

@keyframes radar_45011 {
  from {
    opacity: 1;
    width: 124px;
    height: 45px;
    border-radius: 25px;
  }

  to {
    opacity: 0;
    width: 470px;
    height: 220px;
    border-radius: 150px;
  }
}

.button4:active {
  transform: scale(0.9);
}

.btn {
  width: 10em;
  height: 2.3em;
  margin: 0.5em;
  background: #ee5138;
  color: white;
  border: none;
  border-radius: 0.4em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  color: black;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
