@font-face {
  font-family: "SunsetHeaven";
  src: url("Fonts/Sunset-Heaven-Personal-Use-Only.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Voltaire";
  src: url("Fonts/Voltaire-Frangela.ttf") format("truetype");
}
@font-face {
  font-family: "Black-Drama";
  src: url("Fonts/Black-Drama-Demo.ttf") format("truetype");
}

@font-face {
  font-family: "Anak-Poud";
  src: url("Fonts/Anak-Paud.ttf") format("truetype");
}

@font-face {
  font-family: "Valiny";
  src: url("Fonts/Valiny-Personal-Use-Only.ttf") format("truetype");
}
@font-face {
  font-family: "DaniloCatalina";
  src: url("Fonts/DaniloCatalina.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel";
  src: url("Fonts/FontsFree-Net-Cinzel-Bold.ttf") format("truetype");
}

:root {
  --logo-color: "#ee5138";
  --second-color: "grey";
}

body {
  margin: 0px;
  padding: 0px;
  /* background-image: url("gulnar_body_bg.webp"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section {
  /* width: 100%; */
  /* height: 90vh; */
  display: flex;
  align-items: center;
  justify-content: end;
  background-size: center;
}

.hero-section .elevation-image {
  width: 100%;
  height: 100vh;
}

.hero-section .logo-image {
  width: 200px;
  position: absolute;
}
.section {
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.section .innerDiv {
  width: 1200px;
  margin: auto;
  min-height: 200px;
}

/* -------------------------------------Overview-------------------------------------- */
.overview {
  background-image: url("assets/imgi_81_imgi_59_4880206-scaled-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* .overview::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  pointer-events: none;
} */

.overview div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border: none;
}

.overview div div {
  width: 45%;
  flex-wrap: wrap;

  padding: 20px;
}
.overview div div h2 {
  width: 100%;
  text-align: center;
  font-family: "Alkatra", system-ui;
  line-height: 22px;
  font-size: 25px;
}

.overview div div p {
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 15px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
}

.overview div img {
  width: 48%;
}

/* ------------------Header Divider---------------------- */
.divider {
  text-align: center;
  width: 100%;
  /* border: solid 1px; */
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px !important;
  margin-top: 0px !important;
}

.divider span {
  display: block;
}

/* LEFT LINE */
.divider span:first-child {
  flex: 1;
  height: 2px;
  background: linear-gradient(to right, transparent, #ee5138);
}

/* TEXT */
.divider span:nth-child(2) {
  padding: 0 0px;
  font-family: "Cinzel", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #4b4849;
  white-space: nowrap;
}

/* RIGHT LINE */
.divider span:last-child {
  flex: 1;
  height: 2px;
  background: linear-gradient(to right, #ee5138, transparent);
}

/* ---------------------About us--------------------------- */
.about-us {
  border: none !important;
  padding: 50px 0px 50px 0px;
}

.about-us div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-us img {
  width: 50%;
}

.about-us .container2 {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0px;
}

.about-us .container2 h2 {
  font-family: "Alkatra", system-ui;
  margin: 0px;
  text-align: start;
  align-self: flex-start;
}

.about-us .container2 p {
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 15px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
}

/* -------------------------Highlights-------------------------------- */
.highlight {
  background-image: url("assets/imgi_123_geometric-perspective-line-pattern-background_1409-1821.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.highlight div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.highlights-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.highlights-cards {
  width: 28% !important;
  /* border: solid 1px; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: 20px;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: start !important;
  gap: 15px !important;
}

.highlights-cards h3 {
  margin: 0px;
  font-family: "Valiny", sans-serif;
  color: #636973;
  width: 100%;
}

.highlights-cards p {
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 13px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
  margin: 0px;
}

.highlights-cards i {
  font-size: 45px;
  color: #ee5138;
}

.extra1 {
  background-image: url("assets/imgi_62_living-room_1048-2485.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 500px;
  /* padding: 50px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.extra1 div h2 {
  font-family: "Cinzel", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 0px;
}

.extra1 div h3 {
  font-family: "", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 0px;
}

.extra1 div p {
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 15px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
  width: 80%;
  color: rgb(228, 228, 228);
  /* margin-top: -60px; */
  padding: 0px 10px;
  z-index: 1;
}

.extra1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* change opacity */
  pointer-events: none;
  z-index: 0;
}

.amenities-p {
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 15px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
  width: 100%;
  margin-bottom: 40px;
  padding: 0px 10px;
}
.amenities {
  padding: 50px 0px 50px 0px;
  position: relative;
  /* height: 600px; */
}

.amenities .img-one {
  position: absolute;
  top: 0px;
  left: 20px;
}

.amenities .img-two {
  position: absolute;
  top: 0px;
  right: 20px;
}
.amenities .img-three {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.amenities .img-four {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.amenities .image-gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.amenities .image-gallery div {
  width: 23% !important;
}

.amenities .image-gallery .image img {
  width: 100%;
}

.connectivity-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.connectivity-div .divider {
  margin-bottom: 20px !important;
}

.map {
  width: 580px !important;
  /* border: solid 1px; */
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.config {
  width: 100%;
  /* border: solid 1px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 200px;
  margin-top: 50px !important;
}

.onebhk,
.twobhk {
  /* border: solid 1px; */
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 2px 2px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.onebhk:hover,
.twobhk:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.configuration {
  background-image: url("assets/imgi_211_abstract-white-grey-geometric-background-texture-geometric-background-design-template_266639-1374.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  position: relative;
  z-index: 1;
}

.configuration h2 {
  font-size: 50px;
  margin: 0px;
}

.configuration::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

.floor-paln {
  margin-top: 50px;
  /* border: solid 1px; */
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fp {
  width: 350px;
  border: solid 1px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.fp img {
  width: 350px;
  display: block;
  z-index: 0;
}

.fp h3 {
  color: white;
  position: absolute;
  z-index: 2; /* above overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: "Anak-Poud";
}

.fp::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1; /* BELOW h3 */
  pointer-events: none;
}

.fp:hover img {
  z-index: 3;
  position: relative;
}

.fp:hover h3 {
  display: none;
}

.Gallery .innerDiv {
  display: flex;
  gap: 20px;
}

.Gallery .divider span:nth-child(2) {
  font-size: 35px !important;
}

.gallery-left,
.gallery-right {
  width: 48%;
  /* border: solid 1px; */
}

.gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.gallery-left p {
  padding: 0px 30px;
  text-align: justify;
  font-family: Poppins, sans-serif;
  /* font-weight: 100px; */
  font-size: 15px;
  line-height: 20px;
  color: #636973;
  text-align: justify;
}


